<a href="https://colab.research.google.com/github/gchinca/app_transporte/blob/main/DB_app.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Acceso a google drive
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import sqlite3
import csv

In [ ]:
# Crear la nueva base de datos en SQLite
conn = sqlite3.connect('/content/drive/MyDrive/Colab Notebooks/PROYECTOS/ANALISIS PLATAFORMA DE TRANSPORTE/transporte.db')
c = conn.cursor()

In [ ]:
# Borra la tabla si ya est√° creada
c.execute('DROP TABLE IF EXISTS app')

In [ ]:
# Se crea una tabla llamada app
c.execute('''CREATE TABLE app(
    Name Text,
    TripsCompleted Integer,
    AcceptRate Integer,
    SupplyHours Integer,
    Rating Float);'''
)

In [ ]:
# Leer el archivo csv para cargar los datos en la BD

with open('/content/drive/MyDrive/Colab Notebooks/PROYECTOS/ANALISIS PLATAFORMA DE TRANSPORTE/dataset_2.csv', 'r') as f:
  reader = csv.reader(f)
  next(reader)
  for row in reader:
    c.execute("INSERT INTO app VALUES(?, ?, ?, ?, ?)", (row[0], row[1], row[2], row[3], row[4]))

In [ ]:
# Obtener todas las filas de la tabla 'app'
c.execute("SELECT * FROM app")
rows = c.fetchall()

# Imprimir cada fila
for row in rows:
    print(row)

('Abdul', 1, '100%', 3, 4.8)
('Abraham', 12, '83%', 5, 4.7)
('Adelina', 1, '100%', 2, 4.7)
('Akilah', 1, '100%', 2, 4.9)
('Alec', 21, '76%', 11, 5.0)
('Alesha', 7, '100%', 4, 4.8)
('Alvaro', 17, '88%', 11, 4.6)
('Andra', 16, '94%', 11, 4.6)
('Augusta', 19, '84%', 11, 4.7)
('Aurora', 10, '90%', 4, 4.6)
('Buffy', 13, '54%', 6, 5.0)
('Byron', 15, '100%', 10, 4.9)
('Carlota', 14, '100%', 8, 5.0)
('Celesta', 8, '100%', 5, 4.7)
('Celestina', 5, '100%', 5, 4.5)
('Chu', 14, '71%', 7, 4.8)
('Corine', 16, '63%', 11, 4.5)
('Cris', 7, '71%', 5, 5.0)
('Dalila', 7, '57%', 2, 4.8)
('Dannette', 14, '100%', 9, 4.9)
('Dannielle', 3, '67%', 5, 5.0)
('Deane', 22, '77%', 9, 4.7)
('Delfina', 4, '50%', 3, 4.7)
('Demetrius', 14, '100%', 9, 5.0)
('Deneen', 26, '19%', 7, 4.8)
('Denny', 16, '56%', 9, 4.9)
('Dimple', 15, '100%', 10, 4.9)
('Domenica', 9, '89%', 5, 4.9)
('Drusilla', 4, '100%', 5, 4.9)
('Dustin', 13, '85%', 10, 4.9)
('Ellis', 2, '100%', 1, 4.9)
('Elton', 23, '52%', 8, 4.6)
('Emil', 12, '100%', 9, 5.0)
('Eusebia', 3, '100%', 2, 4.7)
('Fernande', 14, '86%', 10, 4.9)
('Flor', 14, '36%', 6, 4.55)
('Floyd', 3, '67%', 1, 4.8)
('Garth', 15, '100%', 10, 5.0)
('Georgeann', 12, '100%', 8, 4.3)
('Gretta', 16, '69%', 7, 4.5)
('Hanh', 14, '94%', 9, 4.9)
('Hee', 9, '89%', 7, 4.7)
('Heidy', 16, '38%', 7, 4.9)
('Helen', 2, '100%', 1, 4.3)
('Hipolito', 14, '100%', 10, 4.5)
('Ingrid', 7, '43%', 4, 4.8)
('Irvin', 4, '100%', 3, 4.3)
('Jackson', 10, '50%', 7, 4.7)
('Jarrett', 11, '100%', 7, 4.9)
('Jerica', 14, '93%', 5, 4.5)
('Kathryne', 6, '100%', 4, 4.9)
('Keeley', 7, '100%', 4, 4.5)
('Kelley', 7, '100%', 4, 4.5)
('Keshia', 20, '100%', 11, 4.8)
('Kimberlee', 6, '100%', 7, 4.9)
('Kyra', 14, '71%', 8, 4.6)
('Lamonica', 24, '88%', 11, 5.0)
('Latonia', 13, '100%', 9, 5.0)
('Lavera', 13, '69%', 6, 4.9)
('Leisha', 14, '93%', 9, 4.6)
('Leland', 12, '100%', 7, 4.5)
('Lemuel', 20, '95%', 11, 4.3)
('Leota', 12, '58%', 6, 4.8)
('Liane', 14, '93%', 6, 4.5)
('Lianne', 22, '82%', 9, 4.8)
('Lieselotte', 11, '100%', 7, 4.9)
('Lilla', 9, '89%', 8, 4.7)
('Loree', 9, '89%', 8, 4.7)
('Luanne', 12, '96%', 11, 4.9)
('Lyndsey', 13, '94%', 11, 4.9)
('Lynwood', 21, '95%', 10, 5.0)
('Mac', 7, '100%', 5, 4.6)
('Mackenzie', 9, '89%', 8, 4.6)
('Magaret', 1, '100%', 3, 5.0)
('Malka', 11, '55%', 4, 4.5)
('Man', 23, '100%', 10, 5.0)
('Marica', 16, '90%', 10, 5.0)
('Marketta', 10, '100%', 5, 4.7)
('Marshall', 5, '80%', 4, 4.38)
('Mathilda', 14, '86%', 9, 4.9)
('Mechelle', 12, '75%', 10, 4.8)
('Melina', 10, '100%', 6, 3.2)
('Melodee', 1, '100%', 2, 4.9)
('Michelle', 31, '23%', 7, 4.3)
('Natalie', 16, '94%', 8, 4.9)
('Nelson', 16, '94%', 10, 4.5)
('Nikki', 20, '50%', 9, 4.8)
('Nyla', 18, '89%', 11, 5.0)
('Oren', 11, '91%', 9, 4.8)
('Pandora', 15, '60%', 10, 4.9)
('Penni', 8, '100%', 6, 4.5)
('Pennie', 15, '87%', 11, 4.8)
('Phyllis', 10, '90%', 8, 4.8)
('Pinkie', 6, '100%', 5, 4.7)
('Roland', 11, '100%', 6, 4.7)
('Salvador', 15, '100%', 11, 4.8)
('Samella', 18, '44%', 11, 5.0)
('Sanda', 8, '88%', 8, 4.7)
('Shandra', 14, '100%', 8, 4.9)
('Shawana', 10, '100%', 6, 4.7)
('Shelly', 11, '100%', 7, 4.6)
('Shonda', 18, '100%', 6, 4.5)
('Son', 21, '67%', 11, 5.0)
('Stefanie', 11, '100%', 5, 4.7)
('Stephania', 15, '80%', 9, 5.0)
('Tanya', 12, '100%', 8, 4.5)
('Tawana', 7, '86%', 5, 3.0)
('Tenisha', 8, '88%', 6, 5.0)
('Teressa', 17, '77%', 11, 4.7)
('Tesha', 7, '100%', 6, 1.6)
('Tonya', 13, '54%', 7, 4.8)
('Ulrike', 11, '91%', 6, 4.5)
('Valencia', 10, '80%', 4, 4.9)
('Vashti', 12, '92%', 11, 4.9)
('Virgen', 4, '100%', 6, 4.5)
('Yang', 7, '71%', 2, 4.5)
('Yessenia', 8, '88%', 5, 5.0)
('Yukiko', 9, '78%', 6, 4.5)
('Zoe', 21, '86%', 9, 4.9)

In [ ]:
# Guardar cambio y cerrar la conexi√≥n con la BD
conn.commit()
conn.close()